html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
@font-face {
  font-family: RobotoThin;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: RobotoLight;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBlack;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: HammerReqular;
  font-style: normal;
  src: url("../fonts/Hammersmith_One/Hammersmith_One");
}
@font-face {
  font-family: PlayFairRegular;
  font-style: normal;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: PlayFairBold;
  font-style: normal;
  src: url("../fonts//Playfair_Display/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: PlayFairBlack;
  font-style: normal;
  src: url("../fonts//Playfair_Display/PlayfairDisplay-Black.ttf");
}
@media screen and (max-width: 992px) {
  .nav-menu {
    padding-right: 20px;
  }
  .logo {
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  #nav-menu-button {
    cursor: pointer;
    margin-right: 20px;
    color: #00e0d0;
  }
  .nav-menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    direction: rtl;
    overflow-y: scroll;
    max-height: 80vh;
    max-width: 768px !important;
    margin-top: 30px;
    background: #2c2749;
  }
  .logo {
    margin-bottom: -30px;
  }
  .hide-ul {
    max-height: 0vh;
  }
  .nav-menu__link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
    font-size: 20px !important;
  }
  .slider h2 {
    font-size: 26px;
  }
  .slider > div {
    padding: 0 2%;
  }
  .control label {
    font-size: 35px;
  }
  .slider-btn {
    padding: 15px 14px;
  }
  .slider-pagination {
    bottom: 10px;
  }
  .about-container {
    display: flex !important;
    justify-content: center !important;
    text-align: center;
  }
  .works-collage__img > img {
    width: 126px !important;
  }
  .contact-container {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    text-align: center !important;
  }
  .contact-client__clients-logo {
    justify-content: space-around !important;
  }
  .client-logo {
    max-width: 107px !important;
    width: 100% !important;
    padding-top: 32px !important;
  }
  .footer-container,
  .footer-bottom-line {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    text-align: center;
!important
  }
!important
  .footer-bottom-line {
    color: #008000;
  }
}
@media screen and (min-width: 769px) {
  #nav-menu-button {
    display: none;
  }
}
body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 14px;
  color: #413d4b;
}
nav {
  position: fixed;
  background-color: #2d2648;
  z-index: 2;
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.9375rem 0 0.9375rem;
  position: relative;
  z-index: 99999;
}
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  width: 100%;
  justify-content: space-between;
}
.nav-menu li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.nav-menu__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
  font-family: RobotoBlack;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.active-link {
  color: #00e0d0;
}
.nav-menu__link:hover {
  color: #00e0d0;
}
.header {
  height: 666px;
  min-height: 400px;
}
/***********************************************/
.slider-container {
  height: 670px;
  position: relative;
  width: 100%;
}
.slider {
  background-color: #ddd;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.slider-container > input {
  display: none;
}
.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  -moz-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  -o-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.slide1 {
  background-image: url("../assets/first-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide2 {
  background-image: url("../assets/testimonials-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide3 {
  background-image: url("../assets/team-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide4 {
  background-image: url("../assets/video-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide5 {
  background-image: url("../assets/first-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide-content {
  text-align: center;
  max-width: 780px;
  width: 100%;
}
.slider-content__title {
  color: #fff;
  font-family: PlayFairBlack;
  text-transform: capitalize;
  font-size: 32px;
  word-spacing: 5px;
}
.slide-content__separator {
  width: 50px;
  color: #00e0d0;
}
.slider-content__text {
  font-family: RobotoLight;
  color: #fff;
  word-spacing: 5px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 53px;
}
.slider .slider-btn {
  color: #00e0d0;
  padding: 15px 14px;
  font-family: HammerReqular;
  text-transform: uppercase;
  font-size: 16px;
  background: inherit;
  border: 1px solid #00e0d0;
  border-radius: 1px;
  font-weight: 600;
  cursor: pointer;
}
.slider .slider-btn:hover {
  color: #00e0d0;
  background-color: #fff;
}
.slider-container .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute;
  bottom: 10%;
  z-index: 1;
}
.slider-container label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out 0.5s;
  -moz-transition: background ease-in-out 0.5s;
  -o-transition: background ease-in-out 0.5s;
  transition: background ease-in-out 0.5s;
}
.slider-container label:after {
  border: 2px solid #00e0d0;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.slider-container label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #00e0d0;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/***********************************************/
.about {
  padding: 70px 0 70px;
  background: #fff;
}
.about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-container__content {
  max-width: 540px;
  width: 100%;
}
.about-container__content-title {
  font-family: PlayFairBold;
  font-size: 22px;
  color: #413d4b;
}
.about-container__content-text {
  color: #413d4b;
  font-family: RobotoLight;
}
.main-style-btn {
  color: #00e0d0;
  padding: 15px 20px;
  font-family: HammerReqular;
  text-transform: uppercase;
  font-size: 16px;
  background: inherit;
  border: 1px solid #00e0d0;
  border-radius: 1px;
  font-weight: 600;
}
.main-style-btn:hover {
  background-color: #00e0d0;
  color: #fff;
}
.mt30 {
  margin-top: 30px;
}
.video {
  background-image: url("../assets/video-bg.png");
  height: 550px;
  background-position: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.video-text {
  color: #fff;
  text-transform: uppercase;
}
.player-box {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
}
.player-box:hover {
  background-color: #00e0d0;
}
.video-link {
  width: 45px;
  height: auto;
  position: relative;
  left: 6px;
}
.expertise {
  margin: 75px 0 102px;
}
.expertise-top {
  text-align: center;
  margin-bottom: 60px;
}
.expertise-top__title {
  font-size: 22px;
  color: #413d4b;
  font-family: PlayFairBold;
  margin: 0;
}
.expertise-top__text {
  font-size: 14px;
  color: #2f2d35;
  font-family: PlayFairRegular;
  margin-bottom: 30px;
  margin-top: 18px;
}
.expertise-separator {
  width: 50px;
  color: #c6c4c9;
}
.expertise-content {
  display: flex;
  max-width: 960px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.expertise-item {
  text-align: center;
  max-width: 240px;
  width: 100%;
}
.expertise-item__icon {
  width: 50px;
  height: 50px;
}
.expertise-item__title {
  font-family: RobotoBlack;
  color: #413d4b;
}
.expertise-item__text {
  font-family: RobotoLight;
  color: #333;
}
.expertise-item__separator {
  height: 0.5px;
  color: #ebebeb;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}
.team {
  background-image: url("../assets/team-bg.png");
  padding: 70px 0 50px;
  background-repeat: round;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.team-header {
  text-align: center;
  padding-bottom: 50px;
}
.team-header__title {
  font-family: PlayFairBold;
  font-size: 22px;
  color: #fff;
}
.team-header__text {
  font-family: PlayFairRegular;
  color: #f9f9f9;
  padding-bottom: 20px;
}
.team-header__separator {
  color: #655c80;
  width: 50px;
}
.teammates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 220px;
}
.teammate {
  text-align: center;
}
.teammate:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.teammate-img {
  max-width: 230px;
  width: 100%;
  height: 230px;
}
.teammate-info {
  border: 2px solid #7b788f;
  margin-top: -4px;
}
.teammate-name {
  font-family: RobotoBlack;
  color: #fff;
  margin-bottom: 0;
}
.teammate-position {
  font-family: RobotoLight;
  font-size: 13px;
  color: #fafafa;
  margin-top: 0;
}
.team-bottom {
  text-align: center;
  margin-top: 60px;
}
.team-bottom__text {
  font-family: RobotoLight;
  color: #f3f3f3;
}
.works-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 50px;
}
.works-top__link {
  font-family: RobotoLight;
  color: #413d4b;
  text-decoration: none;
}
.works-top__link:hover {
  color: #00e0d0;
}
.works-top__title {
  font-family: PlayFairBold;
  font-size: 22px;
  color: #413d4b;
}
.works-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works-collage__img > img {
  width: 224px;
}
.works-bottom {
  text-align: center;
  margin-bottom: 50px;
}
.testimonials {
  background-image: url("../assets/testimonials-bg.png");
}
.testimonials-top {
  text-align: center;
  color: #fff;
}
.quotes {
  font-family: PlayFairRegular;
  font-size: 100px;
  margin: 0;
}
.testimonials-top__text {
  font-family: PlayFairRegular;
  font-size: 16px;
  padding-bottom: 55px;
  margin-top: -30px;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-form {
  max-width: 460px;
  width: 100%;
  overflow-x: hidden;
}
.form-input {
  width: 93%;
  padding: 17px 0 17px 20px;
  border: 1px solid #e5e5e5;
  color: #413d4b;
  font-family: RobotoLight;
  margin-bottom: 23px;
}
.form-message {
  width: 93%;
  padding: 17px 0 17px 20px;
  border: 1px solid #e5e5e5;
  color: #413d4b;
  font-family: RobotoLight;
  margin-bottom: 23px;
}
.contact-client {
  max-width: 380px;
  width: 100%;
}
.contact-form__title,
.contact-client__title {
  font-size: 22px;
  font-family: PlayFairBold;
  color: #413d4b;
}
.contact-form__title {
  margin-bottom: 60px;
}
.contact-client__clients-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.client-logo {
  max-width: 160px;
  width: 100%;
  padding-top: 50px;
}
.footer {
  background-image: url("../assets/footer.png");
  padding: 50px 0 50px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left,
.footer-center,
.footer-right {
  max-width: 260px;
  width: 100%;
}
.footer-center__title,
.footer-right__title {
  font-family: RobotoBlack;
  font-size: 15px;
  color: #fff;
  padding-bottom: 20px;
}
.footer-left__text,
.footer-center__text {
  font-family: RobotoLight;
  color: #fff;
}
.footer-button {
  background: transparent;
  border: 1px solid #e5e5e5;
  color: #fff;
  outline: none;
  padding: 8px;
  max-width: 190px;
}
.button-block__link {
  width: 70px;
  height: 40px;
  background-color: rgba(255,255,255,0.5);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 10px;
}
.button-block {
  display: flex;
}
.button-block__link:hover {
  background-color: #00e0d0;
  cursor: pointer;
}
.footer-button__icon {
  color: #000;
  background-color: #9890ab;
  padding: 2px 15px 11px 11px;
}
.social-links {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  list-style-type: none;
}
.social-links__item {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
}
.social-links__item:hover {
  background-color: #00e0d0;
}
.footer-bottom-line {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  text-align: center;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  max-width: 270px;
  width: 100%;
}
.footer-list__link {
  font-family: RobotoRegular;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-list__link:hover {
  color: #00e0d0;
}
.copyright {
  font-family: RobotoRegular;
  color: #fff;
}
